body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height: 3rem;
}
.fa-compass{
    color: rgb(204, 57, 57);
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-socials i{
    text-decoration: none;
    color: #222222;
}
.f-info-links{
    width:100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin-right: 1rem;
    
}
.f-info-links{
    width:100%;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card{
    border:none;
    margin-bottom:2rem;
}
.card-img-top{
    border-radius:1rem ;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0 ;
}

.show-img{
    height: 30vh;
}



